
MealsXamarinFormsApp.Android/obj/Debug/130/designtime/build.props
MealsXamarinFormsApp.Android/obj/Debug/130/designtime/libraryprojectimports.cache
MealsXamarinFormsApp.Android/obj/Debug/130/MealsXamarinFormsApp.Android.csproj.AssemblyReference.cache
MealsXamarinFormsApp.Android/obj/MealsXamarinFormsApp.Android.csproj.nuget.dgspec.json
MealsXamarinFormsApp.Android/obj/MealsXamarinFormsApp.Android.csproj.nuget.g.props
MealsXamarinFormsApp.Android/obj/project.assets.json
MealsXamarinFormsApp.Android/obj/project.nuget.cache
MealsXamarinFormsApp.iOS/obj/iPhone/Debug/MealsXamarinFormsApp.iOS.csproj.AssemblyReference.cache
MealsXamarinFormsApp.iOS/obj/MealsXamarinFormsApp.iOS.csproj.nuget.dgspec.json
MealsXamarinFormsApp.iOS/obj/MealsXamarinFormsApp.iOS.csproj.nuget.g.props
MealsXamarinFormsApp.iOS/obj/project.assets.json
MealsXamarinFormsApp.iOS/obj/project.nuget.cache
MealsXamarinFormsApp/obj/Debug/netstandard2.0/MealsXamarinFormsApp.AssemblyInfo.cs
MealsXamarinFormsApp/obj/Debug/netstandard2.0/MealsXamarinFormsApp.AssemblyInfoInputs.cache
MealsXamarinFormsApp/obj/Debug/netstandard2.0/MealsXamarinFormsApp.assets.cache
MealsXamarinFormsApp/obj/Debug/netstandard2.0/MealsXamarinFormsApp.csproj.AssemblyReference.cache
MealsXamarinFormsApp/obj/Debug/netstandard2.0/MealsXamarinFormsApp.GeneratedMSBuildEditorConfig.editorconfig
MealsXamarinFormsApp/obj/MealsXamarinFormsApp.csproj.nuget.dgspec.json
MealsXamarinFormsApp/obj/MealsXamarinFormsApp.csproj.nuget.g.props
MealsXamarinFormsApp/obj/MealsXamarinFormsApp.csproj.nuget.g.targets
MealsXamarinFormsApp/obj/project.nuget.cache
